[submodule "Wrench_Estimator"]
	path = Wrench_Estimator
	url = git@github.com:ASU-RISE-Lab/XPLORER_Wrench_Estimator.git
[submodule "Exploration_Algorithm"]
	path = Exploration_Algorithm
	url = git@github.com:ASU-RISE-Lab/XPLORER_Contact_Based_Exploration.git
[submodule "Mapping_Framework"]
	path = Mapping_Framework
	url = git@github.com:ASU-RISE-Lab/XPLORER_Contact_Based_Mapping.git
[submodule "Arm_Angle_Estimator"]
	path = Arm_Angle_Estimator
	url = git@github.com:ASU-RISE-Lab/XPLORER_Arm_Angle_Estimator.git
[submodule "Custom_Messages"]
	path = Custom_Messages
	url = git@github.com:ASU-RISE-Lab/XPLORER_Custom_Messages.git
[submodule "Custom_Message"]
	path = Custom_Message
	url = git@github.com:ASU-RISE-Lab/squeeze_custom_msgs.git
